<a href="https://colab.research.google.com/github/Manan-pixel/Challenge-Solution/blob/main/Python_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import time as t

t1=t.time()
L=["Ram",1,"Shyam",2,"Aman",3]

L=[str(i) for i in L]

print(L)
L.sort()

L1=[]
for i in L:
  try:
    L1.append(int(i))
  except:
    L1.append(i)

t2=t.time()
print(L1)
print(t2-t1)

['Ram', '1', 'Shyam', '2', 'Aman', '3']
[1, 2, 3, 'Aman', 'Ram', 'Shyam']
0.0003616809844970703

In [ ]:
import time as t

t1=t.time()

for i in range(100):
  for j in range(100):
    x=900

t2=t.time()

print("Total Time: ",t2-t1)

Total Time:  0.0013873577117919922